.children
.dart_tool/
.idea
.packages
.pub
build/
**/lib/generated/**
packages
pubspec.lock
benchmarks/out
doc/

# `dart compile exe` outputs
*.exe

# `dart compile js` outputs
*.js*

# `dart compile wasm` outputs
*.wasm
*.mjs
