# Created with package:mono_repo v5.0.1
name: Dart CI
on:
  push:
    branches:
      - master
      - null_safety
  pull_request:
    branches:
      - master
      - null_safety
  schedule:
    - cron: "0 0 * * 0"
defaults:
  run:
    shell: bash
env:
  PUB_ENVIRONMENT: bot.github

jobs:
  job_001:
    name: "format; linux; Dart dev; PKG: protobuf; `dart format --output=none --set-exit-if-changed .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:protobuf;commands:format"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:protobuf
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: protobuf_pub_upgrade
        name: protobuf; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: protobuf
        run: dart pub upgrade
      - name: "protobuf; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.protobuf_pub_upgrade.conclusion == 'success'"
        working-directory: protobuf
        run: "dart format --output=none --set-exit-if-changed ."
  job_002:
    name: "format; linux; Dart dev; PKG: protoc_plugin; `./../tool/setup.sh`, `dart format --output=none --set-exit-if-changed .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:protoc_plugin;commands:command_0-format"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:protoc_plugin
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: protoc_plugin_pub_upgrade
        name: protoc_plugin; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: protoc_plugin
        run: dart pub upgrade
      - name: protoc_plugin; ./../tool/setup.sh
        if: "always() && steps.protoc_plugin_pub_upgrade.conclusion == 'success'"
        working-directory: protoc_plugin
        run: ./../tool/setup.sh
      - name: "protoc_plugin; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.protoc_plugin_pub_upgrade.conclusion == 'success'"
        working-directory: protoc_plugin
        run: "dart format --output=none --set-exit-if-changed ."
  job_003:
    name: "analyze; linux; Dart dev; PKG: protobuf; `dart analyze --fatal-infos --fatal-warnings lib test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:protobuf;commands:analyze_1"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:protobuf
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: protobuf_pub_upgrade
        name: protobuf; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: protobuf
        run: dart pub upgrade
      - name: "protobuf; dart analyze --fatal-infos --fatal-warnings lib test"
        if: "always() && steps.protobuf_pub_upgrade.conclusion == 'success'"
        working-directory: protobuf
        run: dart analyze --fatal-infos --fatal-warnings lib test
    needs:
      - job_001
      - job_002
  job_004:
    name: "analyze; linux; Dart dev; PKG: protoc_plugin; `./../tool/setup.sh`, `make protos`, `dart analyze --fatal-infos`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:protoc_plugin;commands:command_0-command_2-analyze_2"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:protoc_plugin
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: protoc_plugin_pub_upgrade
        name: protoc_plugin; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: protoc_plugin
        run: dart pub upgrade
      - name: protoc_plugin; ./../tool/setup.sh
        if: "always() && steps.protoc_plugin_pub_upgrade.conclusion == 'success'"
        working-directory: protoc_plugin
        run: ./../tool/setup.sh
      - name: protoc_plugin; make protos
        if: "always() && steps.protoc_plugin_pub_upgrade.conclusion == 'success'"
        working-directory: protoc_plugin
        run: make protos
      - name: "protoc_plugin; dart analyze --fatal-infos"
        if: "always() && steps.protoc_plugin_pub_upgrade.conclusion == 'success'"
        working-directory: protoc_plugin
        run: dart analyze --fatal-infos
    needs:
      - job_001
      - job_002
  job_005:
    name: "run_tests; linux; Dart 2.12.0; PKG: protoc_plugin; `./../tool/setup.sh`, `make protos`, `dart --no-sound-null-safety test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:2.12.0;packages:protoc_plugin;commands:command_0-command_2-command_3"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:2.12.0;packages:protoc_plugin
            os:ubuntu-latest;pub-cache-hosted;dart:2.12.0
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: "2.12.0"
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: protoc_plugin_pub_upgrade
        name: protoc_plugin; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: protoc_plugin
        run: dart pub upgrade
      - name: protoc_plugin; ./../tool/setup.sh
        if: "always() && steps.protoc_plugin_pub_upgrade.conclusion == 'success'"
        working-directory: protoc_plugin
        run: ./../tool/setup.sh
      - name: protoc_plugin; make protos
        if: "always() && steps.protoc_plugin_pub_upgrade.conclusion == 'success'"
        working-directory: protoc_plugin
        run: make protos
      - name: "protoc_plugin; dart --no-sound-null-safety test"
        if: "always() && steps.protoc_plugin_pub_upgrade.conclusion == 'success'"
        working-directory: protoc_plugin
        run: dart --no-sound-null-safety test
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
  job_006:
    name: "run_tests; linux; Dart dev; PKG: protobuf; `dart test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:protobuf;commands:test"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:protobuf
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: protobuf_pub_upgrade
        name: protobuf; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: protobuf
        run: dart pub upgrade
      - name: protobuf; dart test
        if: "always() && steps.protobuf_pub_upgrade.conclusion == 'success'"
        working-directory: protobuf
        run: dart test
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
  job_007:
    name: "run_tests; linux; Dart dev; PKG: protoc_plugin; `./../tool/setup.sh`, `make protos`, `dart --no-sound-null-safety test`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:protoc_plugin;commands:command_0-command_2-command_3"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:protoc_plugin
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: protoc_plugin_pub_upgrade
        name: protoc_plugin; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: protoc_plugin
        run: dart pub upgrade
      - name: protoc_plugin; ./../tool/setup.sh
        if: "always() && steps.protoc_plugin_pub_upgrade.conclusion == 'success'"
        working-directory: protoc_plugin
        run: ./../tool/setup.sh
      - name: protoc_plugin; make protos
        if: "always() && steps.protoc_plugin_pub_upgrade.conclusion == 'success'"
        working-directory: protoc_plugin
        run: make protos
      - name: "protoc_plugin; dart --no-sound-null-safety test"
        if: "always() && steps.protoc_plugin_pub_upgrade.conclusion == 'success'"
        working-directory: protoc_plugin
        run: dart --no-sound-null-safety test
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
  job_008:
    name: "run_tests; osx; Dart dev; PKG: protobuf; `dart test`"
    runs-on: macos-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:macos-latest;pub-cache-hosted;dart:dev;packages:protobuf;commands:test"
          restore-keys: |
            os:macos-latest;pub-cache-hosted;dart:dev;packages:protobuf
            os:macos-latest;pub-cache-hosted;dart:dev
            os:macos-latest;pub-cache-hosted
            os:macos-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: protobuf_pub_upgrade
        name: protobuf; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: protobuf
        run: dart pub upgrade
      - name: protobuf; dart test
        if: "always() && steps.protobuf_pub_upgrade.conclusion == 'success'"
        working-directory: protobuf
        run: dart test
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
  job_009:
    name: "run_tests; windows; Dart dev; PKG: protobuf; `dart test`"
    runs-on: windows-latest
    steps:
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: protobuf_pub_upgrade
        name: protobuf; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: protobuf
        run: dart pub upgrade
      - name: protobuf; dart test
        if: "always() && steps.protobuf_pub_upgrade.conclusion == 'success'"
        working-directory: protobuf
        run: dart test
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
  job_010:
    name: "format_analyze; linux; Dart dev; PKG: api_benchmark; `./../tool/setup.sh`, `./compile_protos.sh`, `dart format --output=none --set-exit-if-changed .`, `dart analyze --fatal-warnings .`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:api_benchmark;commands:command_0-command_1-format-analyze_0"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:api_benchmark
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: api_benchmark_pub_upgrade
        name: api_benchmark; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: api_benchmark
        run: dart pub upgrade
      - name: api_benchmark; ./../tool/setup.sh
        if: "always() && steps.api_benchmark_pub_upgrade.conclusion == 'success'"
        working-directory: api_benchmark
        run: ./../tool/setup.sh
      - name: api_benchmark; ./compile_protos.sh
        if: "always() && steps.api_benchmark_pub_upgrade.conclusion == 'success'"
        working-directory: api_benchmark
        run: ./compile_protos.sh
      - name: "api_benchmark; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.api_benchmark_pub_upgrade.conclusion == 'success'"
        working-directory: api_benchmark
        run: "dart format --output=none --set-exit-if-changed ."
      - name: "api_benchmark; dart analyze --fatal-warnings ."
        if: "always() && steps.api_benchmark_pub_upgrade.conclusion == 'success'"
        working-directory: api_benchmark
        run: dart analyze --fatal-warnings .
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
      - job_005
      - job_006
      - job_007
      - job_008
      - job_009
  job_011:
    name: "format_analyze; linux; Dart dev; PKG: query_benchmark; `dart format --output=none --set-exit-if-changed .`, `./../tool/setup.sh`, `./compile_protos.sh`, `dart analyze`"
    runs-on: ubuntu-latest
    steps:
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: "os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:query_benchmark;commands:format-command_0-command_1-analyze_3"
          restore-keys: |
            os:ubuntu-latest;pub-cache-hosted;dart:dev;packages:query_benchmark
            os:ubuntu-latest;pub-cache-hosted;dart:dev
            os:ubuntu-latest;pub-cache-hosted
            os:ubuntu-latest
      - uses: dart-lang/setup-dart@v1.1
        with:
          sdk: dev
      - id: checkout
        uses: actions/checkout@v2.3.4
      - id: query_benchmark_pub_upgrade
        name: query_benchmark; dart pub upgrade
        if: "always() && steps.checkout.conclusion == 'success'"
        working-directory: query_benchmark
        run: dart pub upgrade
      - name: "query_benchmark; dart format --output=none --set-exit-if-changed ."
        if: "always() && steps.query_benchmark_pub_upgrade.conclusion == 'success'"
        working-directory: query_benchmark
        run: "dart format --output=none --set-exit-if-changed ."
      - name: query_benchmark; ./../tool/setup.sh
        if: "always() && steps.query_benchmark_pub_upgrade.conclusion == 'success'"
        working-directory: query_benchmark
        run: ./../tool/setup.sh
      - name: query_benchmark; ./compile_protos.sh
        if: "always() && steps.query_benchmark_pub_upgrade.conclusion == 'success'"
        working-directory: query_benchmark
        run: ./compile_protos.sh
      - name: query_benchmark; dart analyze
        if: "always() && steps.query_benchmark_pub_upgrade.conclusion == 'success'"
        working-directory: query_benchmark
        run: dart analyze
    needs:
      - job_001
      - job_002
      - job_003
      - job_004
      - job_005
      - job_006
      - job_007
      - job_008
      - job_009
